<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "uk.co.benblume.employeedirectory"
        versionCode = "10"
        version     = "1.1.0">
 
 	<gap:platform name="ios" />
	<gap:platform name="android" />

    <name>Employee Directory</name>
 
    <description>
        A simple employee directory application
    </description>
 
    <author href="http://benblume.co.uk" email="ben@benblume.com">
        Ben Blume
    </author>
 
 
	<gap:plugin name="Device" value="org.apache.cordova.core.Device"/>
	<gap:plugin name="Camera" value="org.apache.cordova.core.CameraLauncher" />
	<gap:plugin name="Capture" value="org.apache.cordova.core.Capture" />
	<gap:plugin name="Contacts" value="org.apache.cordova.core.ContactManager" />
	<gap:plugin name="Geolocation" value="org.apache.cordova.core.GeoBroker" />
	<gap:plugin name="File" value="org.apache.cordova.core.FileUtils" />
	<gap:plugin name="FileTransfer" value="org.apache.cordova.core.FileTransfer" />
	<gap:plugin name="Media" value="org.apache.cordova.core.AudioHandler" />
	<gap:plugin name="NetworkStatus" value="org.apache.cordova.core.NetworkManager" />
	<gap:plugin name="Notification" value="org.apache.cordova.core.Notification" />
 
 
</widget>